@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
}

@layer base {
  html,
  body,
  * {
    cursor: url("/cursor-16.png") 4 4, auto;
  }
}

@layer utilities {
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradientMove {
    background-size: 300% 300%;
    animation: gradientMove 5s linear infinite;
  }
}
